.aclass {
    background-color: cornflowerblue;
    color: black;
    width: 170px;
    text-align: center;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.incclass {
    background-color: cornflowerblue;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-left:30px;
    margin-bottom: 5px;
}

.resetclass {
    background-color: cornflowerblue;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-left: 10px;
}

.twobuttonsclass {
    border: 3px cornflowerblue solid;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.treebuttonsclass {
    border: 3px cornflowerblue solid;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
    border-radius: 6px;
    background-color: black;

}

